:root {
    --main-color: #6f00ff;
}

main.container-fluid #contentArea {
    padding-left: 70px;
}

#bookmarks {
    display: flex;
    flex-direction: column;
}

/* #bookmarks .stats { */
/*     margin-bottom: 20px; */
/* } */

#bookmarks .pagination {
    display: flex;
    justify-content: space-between;
    min-width: 50vw;
    align-self: center;
    align-items: center;
    margin: 30px 0;
}

#bookmarks .pagination .numbers {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#bookmarks .pagination .numbers a {
    padding: 0 1rem;
}

#bookmarks .pagination a.active {
    font-weight: bold;
    text-decoration: none;
    color: var(--pico-color-indigo-700);
}

#bookmarks .pagination a.all {
    margin-right: 1.5rem;
}

#bookmarks ul {
    padding-left: 0;
}

/* #bookmarks li:nth-child(odd) { */
/*     background: yellow; */
/* } */

/* #bookmarks li:nth-child(even) { */
/*     background: var(--pico-color-indigo-150); */
/* } */


#bookmarks li .title,
#bookmarks li .url {
    display: block;
}

#bookmarks li .url {
    color: var(--pico-color-indigo-700);
    text-decoration: none;
}

#bookmarks li .url {
    font-size: .9rem;
}

#bookmarks li .title {
    text-decoration: none;
    color: var(--pico-color-grey-850);
}

@media only screen and (prefers-color-scheme: dark) {
    #bookmarks li .title {
        color: var(--pico-color-grey-150);
    }
}

#bookmarks li.bookmark:not(.no-hl) a em {
    background: yellow;
}

@media only screen and (prefers-color-scheme: dark) {
    #bookmarks li.bookmark:not(.no-hl) a em {
        background: rgba(0, 255, 255, 0.15);
    }
}


#bookmarks li.bookmark {
    margin: 20px 0;
    list-style-type: none;
}


#bookmarks .tags button {
    font-size: small;
    padding: 0.1rem;
    border: none;
}

#bookmarks .tags button:hover {
    background: var(--pico-color-indigo-150);
}

#bookmarks .tags button a {
    color: var(--pico-color-grey-850);
    text-decoration: none;
}

@media only screen and (prefers-color-scheme: dark) {
    #bookmarks .tags button {
        background: var(--pico-color-grey-700);
    }

    #bookmarks .tags button a {
        color: var(--pico-color-slate-100);
        font-size: .7rem;
    }

    #bookmarks .tags button:hover {
        background: var(--pico-color-grey-500);
    }

    #bookmarks li .url {
        color: var(--pico-color-indigo-500);
    }

}

/* HEADER AND SEARCH BAR */


header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 1.5rem;
}

header #search {
    flex: 1;
    display: flex;
    justify-content: center;
    ;
}

header #search-form {
    display: flex;
    position: relative;
    min-width: 60vw;
    /* margin-left: 4rem; */
}

header #search-form fieldset {
    margin-bottom: 0;
}

header #search-form .nojs-submit {
    margin-left: 1rem;
}

header #search-form #search-opts {
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    top: 110%;
    right: 0;
    margin-right: 20px;
}

#search-opts .space {
    flex-grow: 1;
}

/* header #search-form #search-filters { */
/*     display: flex; */
/*     display: flex; */
/*     width: 100%; */
/*     position: absolute; */
/*     bottom: -110%; */
/*     left: 0; */
/*     padding: 0 1rem; */
/* } */

#search-opts .tag {
    font-size: medium;
    padding: 0.1rem 0.3rem;
    margin: 0 1rem;
    border: none;
    border-radius: 0.25rem;
}

#search-opts .tag .close-icon {
    margin-left: .3rem;
}

header #search-form #search-opts #stats {
    margin-left: 1rem;
}

header #search input {
    margin: 0;
}

header #logo {
    background: url(/static/favicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

#logo .logo-text {
    position: absolute;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 0;
    font-weight: 400;
    color: var(--pico-h6-color);
}
